*{
	font-family: 'Montserrat', sans-serif;
}

header{
	font-size: 1rem
}

header > h1 { /*Child combinator*/
	margin-top:0;
	padding-top: 0.2in;
}

header h2{ /*Descendant combinator*/
	font-size: 6mm;
}

h2::first-letter{
	font-size: 130%;
}

body {
	position:static;
	background-color: lightblue;
	color: hsl(0, 0%, 11%);
}

p + ul { /*Adjacent sibling combinator*/
	padding:0px 0px 0px 12px;
}

#resume{
	font-size: 1.2em;
	margin: auto;
}

#resume p,#resume ul{ /*Selector list*/
	margin:0.3%;
}

table {
	border-right-width:thick;
	border-spacing:0;
	background-color:#78BE21;
	border-style: solid;
	border-color: rgb(60, 179, 113);
	border-width: medium;
	border-radius: 5px;
	text-align: center;
	color: #FFF
}

.tableHeader {
	text-decoration: underline;
	font-weight: 700;
}

td{
	border-right: solid 2px rgba(60, 179, 113, 90);	
}


input:hover {
	border-style: solid;
	border-color: hsla(0, 100%, 0%, 50%);
}


input[type="radio"]:active {
	margin: 3px 0px 3px 10px;
}

input[type="button"]{
	position: fixed;
	bottom: 0px;
    right: 0px; 
}