*{
	font-family: 'Montserrat', sans-serif;
}

header{
	font-size: 1rem
}

header > h1 {
	margin-top:0;
	padding-top: 0.2in;
}
header > h2{
	font-size: 6mm;
}

body {
   	background-color: lightblue;
}

table {
	border-right-width:thick;
	border-spacing:0;
	background-color:#78BE21;
	border-style: solid;
	border-color: rgb(60, 179, 113);
	border-width: medium;
	border-radius: 5px;
	text-align: center;
	color: #FFF
}

#resume{
	font-size: 1.2em;
}

#resume p,#resume ul{
	margin:0.3%;
}

.tableHeader {
	text-decoration: underline;
	font-weight: 700;
}

td{
	border-right: solid 2px rgba(60, 179, 113, 90);	
}